.footer{
    margin-top: 5rem;
    width: 100%;
    height: auto;
    background-color: black;
    .footertexto{
        text-align: center;
        color: $letras;
        font-size: 1rem;
        padding: 10px;
        font-weight: 500;
    }
    .footerlist{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .footerli{
            color: white;
            margin: 0 .5rem;
        .footerlinks{ 
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .instagramlogo{
                width: 32px;
                margin: 10px 0px;
            }
        }
    }
    }
    .divcopy{
        margin-top: 20px;
        .textocopy{
            text-align: center;
            color: white;
            font-size: 1rem;
            padding: 10px;
            font-weight: 500;
        .linkcopy{
            color: $letras;
        }
    }
    }
}