.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $bg;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 16vh;
    .linklogo{
        text-decoration: none;
        .logolospapus{
            width: 200px;
            height: 200px;
        }
    }
    .navul{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .navli{
            margin: 0rem 2rem;
            .navlink{
                text-decoration: none;
                color: $letras;
                &:hover{
                        font-weight: bold;
                        border-bottom: .2rem solid $letras;
                        padding-bottom: 0.3rem;
                        color: $letras;
                        transition: all 0.2s;
                }
            }
        }
    }
}